{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Panel Administrador{% endblock %}
{% block body %}
<section class="container">
	<section class="row">
		<section class="col-xs-12">
			<section id="header">
				<span id="titulo_cabecera">Panel de Administración</span>
			</section>
			<section class="col-xs-12">
				<section class="btn-group btn-group-sm btn-group-justified">
					<a class="btn btn-info" href="">Gestión - Admin's</a>
					<a class="btn btn-success" href="">Gestión - Almacén</a>
					<a class="btn btn-info" href="">Gestión - Clientes</a>
					<a class="btn btn-success" href="">Gestión - Empresa</a>
					<a class="btn btn-info" href="">Gestión - Productos </a>					
				</section>
			</section>
			<section class="col-xs-12">
				<section class="btn-group btn-group-sm btn-group-justified">
					<a class="btn btn-success" href="">Gestión - Proveedor</a>					
					<a class="btn btn-info" href="">Gestión - Usuarios</a>
					<a class="btn btn-success" href="">Gestión - Proveedor</a>					
					<a class="btn btn-info" href="">Gestión - Usuarios</a>
				</section>
			</section>
			<section class="contenedoradmin">
				
			</section>
		</section>
	</section>
</section>	
{% endblock %}